.bloque_8 {
    position: relative;
    width: 100%;
}

.bloque_8 .swiper {
    width: 100%;
    overflow: hidden;
}

.bloque_8 .swiper-wrapper {
    display: flex;
    padding: 20px 0px;
    min-height: 400px;
}

.bloque_8 .testimonio_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 25px;
    transition: transform 0.3s ease;
    min-height: 400px;
}

.bloque_8 .testimonio_card:hover {
    transform: translateY(-5px);
}

.bloque_8 .testimonio_foto img {
    /*width: 100%;*/
    object-fit: cover;
    margin: 0 auto;
}

.bloque_8 .testimonio_datos blockquote {
    font-size: 120px;
    line-height: 0px;
}

.bloque_8 .testimonio_comentario {
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 20px !important;
}

.bloque_8 .testimonio_nombre {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 600;
}

.bloque_8 .testimonio_cargo {
    font-size: 13px;
}

@media (max-width: 768px) {
    .bloque_8 .testimonio_card {
        grid-template-columns: 1fr;
    }

    .bloque_8 .testimonio_datos blockquote {
        margin-top: 30px;
        font-size: 90px;
        line-height: 0px;
    }

    .bloque_8 .testimonio_foto img {
        margin-bottom: 15px;
    }
}
