.bloque_4 {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-blanco);
}

.bloque_4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    /* negro semitransparente */
    z-index: 1;
}

.bloque_4 .imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.8);
    object-position: 78% 33%;
}

.bloque_4 .cuerpo {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 20px;
    text-align: left;
}

.bloque_4 .cuerpo h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.bloque_4 .cuerpo p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.bloque_4 .boton {
    display: inline-block;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    padding: 12px 28px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.bloque_4 .boton:hover {
    background-color: var(--color-celeste);
    transform: scale(1.05);
}

@media (max-width: 1000px) {
    .bloque_4 .imagen {
        object-position: 90% 33%;
    }
}
