.r_centrar_pagina {
    margin: 0 auto;
    max-width: var(--ancho-centrar-pagina);
    width: 100%;
}

.r_pading_pagina {
    padding: 20px;
}

.r_gap_pagina {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.r_margin_top_70 {
    margin-top: 70px;
}

.r_contenedor_columna {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.r_titulo_1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
}

.r_titulo_1.color_1 {
    color: var(--color-verde);
}

.r_titulo_1.color_2 {
    color: var(--color-blanco);
}

.r_titulo_1 span {
    color: var(--color-amarillo);
}

.r_parrafo {
    font-size: 20px;
    line-height: 1.6;
}

.r_parrafo.color_1 {
    color: var(--color-negro);
}

.r_parrafo.color_2 {
    color: var(--color-blanco);
}

.r_parrafo span {
    font-weight: 500;
}

.r_parrafo.color_1 span {
    color: var(--color-verde);
}

.r_parrafo.color_2 span {
    color: var(--color-amarillo);
}

@media (max-width: 768px) {
    .r_gap_pagina {
        gap: 20px;
    }

    .r_margin_top_70 {
        margin-top: 40px;
    }

    .r_titulo_1 {
        font-size: 35px;
        line-height: 38px;
    }

    .r_parrafo {
        font-size: 16px;
        line-height: 1.5;
    }
}
