.r_centrar_pagina {
    margin: 0 auto;
    max-width: var(--ancho-centrar-pagina);
    width: 100%;
}

.r_pading_pagina {
    padding: var(--padding-arriba-abajo) var(--padding-costados);
}

.r_gap_pagina {
    display: flex;
    flex-direction: column;
    gap: var(--gap-computadora);
}

.r_contenedor_columna {
    margin-top: var(--gap-computadora);
    margin-bottom: var(--gap-computadora);
    display: flex;
    flex-direction: column;
    gap: var(--gap-computadora);
}

.r_margin_top_40 {
    margin-top: var(--gap-computadora);
}

.r_margin_bottom_40 {
    margin-bottom: var(--gap-computadora);
}

.r_titulo_1 {
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
}

.r_titulo_1.color_1 {
    color: var(--color-verde);
}

.r_titulo_1.color_2 {
    color: var(--color-blanco);
}

.r_titulo_1 span {
    color: var(--color-amarillo);
}

.r_sub_titulo_1 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
}

.r_sub_titulo_1.color_1 {
    color: var(--color-verde);
}

.r_sub_titulo_1.color_2 {
    color: var(--color-blanco);
}

.r_sub_titulo_1 span {
    color: var(--color-amarillo);
}

.r_parrafo {
    font-size: 20px;
    line-height: 1.6;
}

.r_parrafo.color_1 {
    color: var(--color-negro);
}

.r_parrafo.color_2 {
    color: var(--color-blanco);
}

.r_parrafo span {
    font-weight: 500;
}

.r_parrafo.color_1 span {
    color: var(--color-verde);
}

.r_parrafo.color_2 span {
    color: var(--color-amarillo);
}

.r_lista {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.r_lista li {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 12px;
    color: var(--color-negro);
    display: flex;
    align-items: center;
    gap: 10px;
}

.r_lista li i {
    color: var(--color-verde);
}

@media (max-width: 768px) {
    .r_gap_pagina {
        gap: var(--gap-movil);
    }

    .r_contenedor_columna {
        margin-top: var(--gap-movil);
        gap: var(--gap-movil);
    }

    .r_margin_top_40 {
        margin-top: var(--gap-movil);
    }

    .r_margin_bottom_40 {
        margin-bottom: var(--gap-movil);
    }

    .r_titulo_1 {
        font-size: 35px;
        line-height: 38px;
    }

    .r_sub_titulo_1 {
        font-size: 21px;
        line-height: 26px;
    }

    .r_parrafo {
        font-size: 17px;
        line-height: 1.5;
    }
}
