.partials_formulario_imagen {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.partials_formulario_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.partials_formulario_imagen .contenedor_contacto {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    z-index: 10;
}

.partials_formulario_imagen .contenedor_formulario {
    max-width: 420px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {

    .partials_formulario_imagen .contenedor_contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        right: 0px;
    }

    .partials_formulario_imagen .contenedor_formulario {
        width: 350px;
    }

    .partials_formulario_imagen img {
        object-position: right center;
    }
}