.partials_contenedor_slider_grupo_proyectos {
    position: relative;
    width: 100%;
}

/* SLIDER */
.partials_contenedor_slider_grupo_proyectos .swiper {
    width: 100%;
    overflow: hidden;
}

.partials_contenedor_slider_grupo_proyectos .swiper-wrapper {
    display: flex;
    padding: 20px 0px;
}

.partials_contenedor_slider_grupo_proyectos .swiper-slide {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}

/* CARD PRINCIPAL */
.partials_contenedor_slider_grupo_proyectos .post_imagen_contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 320px;
    border: var(--borde-card);
    border-radius: 10px;
    background-color: var(--color-blanco);
    overflow: hidden;
    box-shadow: var(--sombra);
    transition: transform 0.3s ease;
    gap: 20px;
}

.partials_contenedor_slider_grupo_proyectos .post_imagen_contenedor img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
}

.partials_contenedor_slider_grupo_proyectos .post_imagen_contenedor:hover {
    transform: translateY(-4px);
}

.partials_contenedor_slider_grupo_proyectos .post_imagen_contenedor p {
    text-align: left;
    padding-left: 15px;
}

.partials_contenedor_slider_grupo_proyectos .post_imagen_contenedor .titulo {
    font-size: 28px;
    color: var(--color-verde);
    font-weight: 700;
}

.partials_contenedor_slider_grupo_proyectos .post_imagen_contenedor .subtitulo {
    font-size: 22px;
    color: var(--color-verde);
    font-weight: 600;
}

@media (max-width: 768px) {
    .partials_contenedor_slider_grupo_proyectos .swiper-slide {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .partials_contenedor_slider_grupo_proyectos .swiper-slide {
        width: 80%;
    }
}
