.no-scroll,
.no-scroll body {
    overflow: hidden !important;
}

.partials_visualizador_pdf .boton_abrir {
    padding: 10px 18px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}
.partials_visualizador_pdf .boton_abrir:hover {
    background: #0056b3;
}

.partials_visualizador_pdf .visor_pdf {
    position: fixed;
    inset: 0;
    z-index: 9998;
    background: #3c3c3c;
    display: flex;
    flex-direction: column;
}

.partials_visualizador_pdf #pdfFrame {
    width: 100%;
    height: 100%;
    border: none;
    background: #fff;
}

.partials_visualizador_pdf .barra_cerrar {
    position: fixed;
    height: 60px;
    width: 60px;
    background: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 25px;
    right: 40px;
    color: #f3f3f3;
}

@media (max-width: 768px) {
    .partials_visualizador_pdf #pdfFrame {
        height: calc(100% - 60px);
    }

    .partials_visualizador_pdf .barra_cerrar {
        position: relative;
        width: 100%;
        border-radius: 0px;
        bottom: 0px;
        right: 0px;
    }
}
