.web_footer {
    background: var(--color-plomo);
    color: var(--color-negro);
    text-align: center;
    padding: 70px 20px 20px;
}

.web_footer .footer_contacto h3 {
    font-size: 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.web_footer .footer_contacto p {
    font-size: 25px;
    margin: 0;
    color: var(--color-verde);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.web_footer .footer_medio {
    display: flex;
    flex-direction: column;
    max-width: var(--ancho-centrar-pagina);
    margin: 30px auto 0;
    gap: 20px;
}

.web_footer .footer_info h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.web_footer .footer_info p {
    font-size: 18px;
    margin: 0;
}

.web_footer .footer_socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    background: var(--color-negro);
    color: var(--color-blanco);
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: background 0.3s, transform 0.3s;
}

.web_footer .footer_socials a:hover {
    background: var(--color-celeste);
    transform: scale(1.1);
}

.web_footer .footer_copy {
    margin-top: 30px;
    font-size: 14px;
    color: var(--color-negro);
}

.web_footer .footer_copy a {
    color: var(--color-negro);
    text-decoration: none;
}

.web_footer .footer_copy a:hover {
    text-decoration: underline;
}

.web_footer .footer_terminos {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.web_footer .footer_terminos span {
    position: relative;
    display: flex;
    align-items: center;
}

.web_footer .footer_terminos span:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    width: 1px;
    background-color: var(--color-negro);
    opacity: 0.3;
}

.web_footer .footer_terminos span a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--color-negro);
    padding: 10px;
}

.web_footer .footer_terminos span a:hover {
    color: var(--color-verde);
}

.web_footer .footer_terminos i {
    margin-right: 6px;
    color: var(--color-verde);
}

@media (max-width: 768px) {
    .web_footer {
        padding: 40px 20px 20px;
    }

    .web_footer .footer_info h2 {
        font-size: 1.3rem;
    }

    .web_footer .footer_info p {
        font-size: 0.95rem;
    }

    .web_footer .footer_socials a {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }

    .web_footer .footer_copy {
        font-size: 0.85rem;
    }

    .footer_terminos {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .web_footer .footer_terminos span:not(:last-child)::after {
        content: none;
    }
}
