.cronograma_contenedor {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.cronograma_contenedor .titulo {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 22px;
}

.cronograma_contenedor .tabla_info,
.cronograma_contenedor .tabla_detalle {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cronograma_contenedor .tabla_info td {
    border: 1px solid #999;
    padding: 6px 10px;
}

.cronograma_contenedor .tabla_info .label {
    font-weight: bold;
    background: #f0a741;
    width: 25%;
}

.cronograma_contenedor .tabla_info .valor {
    background: #f7d79c;
    font-weight: bold;
}

.cronograma_contenedor .tabla_info .grande {
    text-align: center;
}

.cronograma_contenedor .tabla_detalle th {
    background: #004c62;
    color: #fff;
    padding: 6px;
}

.cronograma_contenedor .tabla_detalle td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}
