@import "../generales/reset.css";
@import "../generales/variables.css";
@import "../generales/alertas.css";
@import "../generales/paginacion.css";
/*@import "../generales/formulario.css";*/
@import "../generales/ckeditor.css";

@import "./layout.css"; /*ok*/
@import "./globales.css"; /*ok*/
@import "./components/menu-principal.css"; /*ok*/
@import "./components/header.css"; /*ok*/
@import "./components/botones.css"; /*ok*/
@import "./components/panel.css"; /*ok*/
@import "./components/pagina-cabecera.css"; /*ok*/
@import "./components/pagina-cuerpo.css"; /*ok*/
@import "./components/tabla.css"; /*ok*/
@import "./components/tabla-cabecera.css"; /*ok*/
@import "./components/dropzone.css"; /*ok*/
@import "./components/grid-instagram.css"; /*ok*/
@import "./components/formulario.css"; /*ok*/
@import "./components/modal.css"; /*ok*/
@import "./components/calendario.css"; /*ok*/
